<menu id="CoordFormatMenu">
    <menu-item id="item_deg">Degs</menu-item>
    <menu-item id="item_dm">Degs/Mins</menu-item>
    <menu-item id="item_dms">Degs/Mins/Secs</menu-item>
    <menu-item id="item_utm">UTM</menu-item>
    <menu-item id="item_usng">USNG</menu-item>
    <menu-item id="item_mgrs">MGRS</menu-item>
</menu>